<p-table [value]="servicetypes">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Létrehozás ideje</th>
      <th>Lejárat ideje</th>
      <th>Igényelt szolgáltatás</th>
      <th>Épület címe</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-st>
    <tr>
      <td>{{st.id}}</td>
      <td>{{st.startDate}}</td>
      <td>{{st.endDate}}</td>
      <td>{{st.service.name}} - {{st.service.comment}}</td>
      <td>{{st.building.address.zip}} {{st.building.address.city}} {{st.building.address.address1}} {{st.building.address.address2}}</td>
    </tr>
  </ng-template>
</p-table>
