HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#Pictures
.jpg
.jpeg
.bmp
.png 
.JPG

#Pictures in a specified folder

py_anpr/kepek*
/py_anpr/__pycache__/py_anpr_v5.cpython-38.pyc
/py_anpr/__pycache__/utils.cpython-38.pyc
