<div class="p-grid p-fluid p-align-center">

  <div class="p-col-12 p-md-3 p-lg-3">
    <p-calendar [(ngModel)]="selectedStartDate" [showTime]="true" inputId="time" placeholder="Érvényeség kezdete"></p-calendar>
  </div>

  <div class="p-col-12 p-md-3 p-lg-3">
    <p-calendar [(ngModel)]="selectedEndDate" [showTime]="true" inputId="time" placeholder="Érvényeség vége"></p-calendar>
  </div>

  <div class="p-col-12 p-md-3 p-lg-3">
    <p-dropdown [options]="buildings" [(ngModel)]="selectedBuilding" placeholder="Válasszon épületet" optionLabel="id" [showClear]="true">
      <ng-template pTemplate="selectedItem">
        <div class="building-item building-item-value" *ngIf="selectedBuilding">
          <div>
            {{selectedBuilding.comment}} - {{selectedBuilding.address.zip}} {{selectedBuilding.address.city}} {{selectedBuilding.address.address1}} {{selectedBuilding.address.address2}}
          </div>
        </div>
      </ng-template>
      <ng-template let-building pTemplate="item">
        <div class="building-item">
          <div>{{building.comment}} - {{building.address.zip}} {{building.address.city}} {{building.address.address1}} {{building.address.address2}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="p-col-12 p-md-3 p-lg-3">
    <p-dropdown [options]="services" [(ngModel)]="selectedService" placeholder="Válasszon szolgáltatási címet" optionLabel="id" [showClear]="true">
      <ng-template pTemplate="selectedItem">
        <div class="service-item service-item-value" *ngIf="selectedService">
          <div>
            {{selectedService.name}} {{selectedService.comment}}
          </div>
        </div>
      </ng-template>
      <ng-template let-service pTemplate="item">
        <div class="service-item">
          <div>{{service.name}} {{service.comment}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="p-col-12 p-md-3 p-lg-3 ">
    <form (ngSubmit)=addServiceType()>
      <p-button label="Elküld" icon="pi pi-check" type="Submit"></p-button>
    </form>
  </div>

</div>
