<div class="p-grid p-fluid p-align-center">

  <div class="p-col-12 p-md-4 p-lg-4">
    <span>Név</span>
    <p-autoComplete [(ngModel)]="service.name" [suggestions]="filteredNames" (completeMethod)="filterName($event)" [minLength]="1"></p-autoComplete>
  </div>

  <div class="p-col-12 p-md-4 p-lg-4">
    <span>Egyéb adat</span>
    <input type="text" pInputText [(ngModel)]="service.comment">
  </div>

  <div class="p-col-12 p-md-4 p-lg-4 ">
    <span>Elküld</span>
    <form (ngSubmit)="addService()">
      <p-button label="Submit" icon="pi pi-check" type="Elküld"></p-button>
    </form>
  </div>

</div>
