<div class="p-grid">
  <div class="p-col-12">
    <div class="box" align="center">
      <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" id="inputtext-left" pInputText [(ngModel)]="idToBeSearched" (change)="getServicesTypeById()">
            <label for="inputtext-left">ID az igényelt szolgáltatás törléshez</label>
        </span>
    </div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-3">
    <span>ID</span>
    <div class="box">
      <input id="id" type="text" size="30" pInputText [disabled]="true" [(ngModel)]="idToBeShown"/>
    </div>
  </div>
  <div class="p-col-3">
    <span>Megnevezés</span>
    <div class="box">
      <input id="building" type="text" size="30" pInputText [disabled]="true" [(ngModel)]="commentToBeShown"/>
    </div>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12" align="center">
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <form>
      <p-button (onClick)="confirmDelete()" icon="pi pi-times" label="Törlés"></p-button>
    </form>
  </div>
  <p-toast></p-toast>
</div>
